<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nothing shop</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="{{ '/css/style.css' | url}}" />
  <link rel="icon" href="{{ '/img/N.png' | url}}" type="image/png" />
  <!-- color pallete
    (18,18,18)
    (46,46,46)
    (22,83,126)
    (61,133,198)
    (69,157,224)
    (200,200,200)
  -->
</head>

<body>

  <header>
    <div class="container">
      <img src="{{ '/img/N.png' | url }}" style="width: 30px; height: 30px; margin-right: 10px;" />
      <h1>The NOTHING shop</h1>
      <nav>
        <ul>
          <li><a href="{{ '/' | url }}">HOME</a></li>
          <li><a href="{{ '/catalog' | url }}">CATALOGUE</a></li>
          <li><a href="{{ '/aboutme' | url }}">ABOUT ME</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="container-fluid">
    {{ content | safe }}
  </main>


</body>

</html>
